body {
 background-color: azure;
}

.header {
padding: 25px;
 font-size: 30px;
 font-family: cursive;
 text-align: center;
 background: azure;
 color: #5792BC;
}

.dtext {
display: block;
margin-left: auto;
margin-right: auto;
text-align: center; 
border: solid 2px; border-radius: 100px; 
width: 700px; 
font-family: Courier New;
color: #5792BC;
}

.di {
background-color: azure;
margin: auto;
padding: 20px;
width: 700px;
}

.login {
background-color: lightBlue;
margin: auto;
text-align: center;
padding: 20px;
width: 700px;
}


/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}
/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}